# Projeto SQL Corporativo
Este notebook demonstra o uso de SQL puro em um ambiente Python (DuckDB), com consultas analíticas e relacionamentos entre tabelas de uma empresa fictícia.

**Configuração**

In [ ]:
!pip install jupysql duckdb-engine
%load_ext sql

%sql duckdb://

Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from jupysql) (2.0.43)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Requirement already satisfied: duckdb>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (1.3.2)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-6.7.7-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2025.10.5)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 4.3 MB/s eta 0:00:00
Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 3.5 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 11.0 MB/s eta 0:00:00
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-6.7.7-py3-none-any.whl (137 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.3/137.3 kB 10.5 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-engine-0.17.0 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-6.7.7

Connecting to 'duckdb://'

**CRIAR TABELA**

Cria uma tabela chamada funcionarios para armazenar informações sobre os colaboradores de uma empresa.
Antes de criá-la, o comando DROP TABLE IF EXISTS remove a tabela caso ela já exista, evitando erros de duplicação.

A estrutura da tabela define os seguintes campos:

| Coluna          | Tipo de dado           | Descrição                                             |
| --------------- | ---------------------- | ----------------------------------------------------- |
| `id`            | `INT` (chave primária) | Identificador único de cada funcionário.              |
| `nome`          | `VARCHAR(100)`         | Nome completo do funcionário.                         |
| `cargo`         | `VARCHAR(50)`          | Função ou cargo ocupado na empresa.                   |
| `departamento`  | `VARCHAR(50)`          | Setor ou departamento ao qual o funcionário pertence. |
| `salario`       | `DECIMAL(10,2)`        | Salário do funcionário, com duas casas decimais.      |
| `cidade`        | `VARCHAR(50)`          | Cidade onde o funcionário trabalha.                   |
| `idade`         | `INT`                  | Idade atual do funcionário.                           |
| `data_admissao` | `DATE`                 | Data em que o funcionário foi contratado.             |

In [ ]:
%%sql
DROP TABLE IF EXISTS funcionarios;

CREATE TABLE funcionarios (
  id INT PRIMARY KEY,
  nome VARCHAR(100),
  cargo VARCHAR(50),
  departamento VARCHAR(50),
  salario DECIMAL(10,2),
  cidade VARCHAR(50),
  idade INT,
  data_admissao DATE
);

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

**INSERIR DADOS**

O comando INSERT INTO funcionarios VALUES (...) adiciona 10 registros à tabela funcionarios, preenchendo as colunas definidas anteriormente (id, nome, cargo, departamento, salário, cidade, idade e data de admissão).

Cada linha representa um funcionário, com suas respectivas informações pessoais e profissionais.

| id | nome           | cargo               | departamento | salário | cidade         | idade | data_admissao |
| -- | -------------- | ------------------- | ------------ | ------- | -------------- | ----- | ------------- |
| 1  | Ana Souza      | Analista de Dados   | TI           | 6500    | São Paulo      | 29    | 2020-05-10    |
| 2  | João Lima      | Desenvolvedor       | TI           | 7200    | Rio de Janeiro | 33    | 2018-03-14    |
| 3  | Maria Santos   | Designer            | Marketing    | 4800    | Curitiba       | 26    | 2021-09-01    |
| 4  | Pedro Oliveira | Gerente de Projetos | TI           | 9500    | São Paulo      | 41    | 2015-01-22    |
| 5  | Júlia Martins  | Analista Financeira | Financeiro   | 5800    | Belo Horizonte | 30    | 2019-06-18    |
| 6  | Lucas Almeida  | Desenvolvedor       | TI           | 7100    | Porto Alegre   | 28    | 2020-11-05    |
| 7  | Carla Dias     | Coordenadora MKT    | Marketing    | 8500    | São Paulo      | 35    | 2016-02-27    |
| 8  | Rafael Gomes   | Analista de Dados   | TI           | 6700    | Curitiba       | 27    | 2022-01-15    |
| 9  | Fernanda Costa | Estagiária          | Financeiro   | 2200    | Recife         | 22    | 2023-03-10    |
| 10 | Bruno Ferreira | Desenvolvedor       | TI           | 7500    | Rio de Janeiro | 31    | 2017-04-30    |

In [ ]:
%%sql

INSERT INTO funcionarios VALUES
(1, 'Ana Souza', 'Analista de Dados', 'TI', 6500, 'São Paulo', 29, '2020-05-10'),
(2, 'João Lima', 'Desenvolvedor', 'TI', 7200, 'Rio de Janeiro', 33, '2018-03-14'),
(3, 'Maria Santos', 'Designer', 'Marketing', 4800, 'Curitiba', 26, '2021-09-01'),
(4, 'Pedro Oliveira', 'Gerente de Projetos', 'TI', 9500, 'São Paulo', 41, '2015-01-22'),
(5, 'Júlia Martins', 'Analista Financeira', 'Financeiro', 5800, 'Belo Horizonte', 30, '2019-06-18'),
(6, 'Lucas Almeida', 'Desenvolvedor', 'TI', 7100, 'Porto Alegre', 28, '2020-11-05'),
(7, 'Carla Dias', 'Coordenadora MKT', 'Marketing', 8500, 'São Paulo', 35, '2016-02-27'),
(8, 'Rafael Gomes', 'Analista de Dados', 'TI', 6700, 'Curitiba', 27, '2022-01-15'),
(9, 'Fernanda Costa', 'Estagiária', 'Financeiro', 2200, 'Recife', 22, '2023-03-10'),
(10, 'Bruno Ferreira', 'Desenvolvedor', 'TI', 7500, 'Rio de Janeiro', 31, '2017-04-30');

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

**Mostre todos os registros da tabela**

In [ ]:
%%sql
SELECT * FROM funcionarios;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 6500.00 |   São Paulo    |   29  |   2020-05-10  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |    Curitiba    |   26  |   2021-09-01  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |     Recife     |   22  |   2023-03-10  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
Truncated to displaylimit of 10.

Exiba apenas o nome e o salário de todos os funcionários.

In [ ]:
%%sql

SELECT nome, salario FROM funcionarios;

Running query in 'duckdb://'

+----------------+---------+
|      nome      | salario |
+----------------+---------+
|   Ana Souza    | 6500.00 |
|   João Lima    | 7200.00 |
|  Maria Santos  | 4800.00 |
| Pedro Oliveira | 9500.00 |
| Júlia Martins  | 5800.00 |
| Lucas Almeida  | 7100.00 |
|   Carla Dias   | 8500.00 |
|  Rafael Gomes  | 6700.00 |
| Fernanda Costa | 2200.00 |
| Bruno Ferreira | 7500.00 |
+----------------+---------+
Truncated to displaylimit of 10.

Liste os nomes e cargos de quem trabalha no departamento TI.

In [ ]:
%%sql
SELECT nome, cargo
FROM funcionarios
WHERE departamento = 'TI';

UsageError: Cell magic `%%sql` not found.

Mostre apenas os nomes distintos das cidades cadastradas.

In [ ]:
%%sql
SELECt DISTINCT cidade
FROM funcionarios;

Running query in 'duckdb://'

+----------------+
|     cidade     |
+----------------+
|   São Paulo    |
| Rio de Janeiro |
|    Curitiba    |
| Belo Horizonte |
|     Recife     |
|  Porto Alegre  |
+----------------+

Exiba os nomes e salários dos funcionários com salário acima de 7000.

In [ ]:
%%sql
SELECT nome, salario
FROM funcionarios
WHERE salario > 7000;

Running query in 'duckdb://'

+----------------+---------+
|      nome      | salario |
+----------------+---------+
|   João Lima    | 7200.00 |
| Pedro Oliveira | 9500.00 |
| Lucas Almeida  | 7100.00 |
|   Carla Dias   | 8500.00 |
| Bruno Ferreira | 7500.00 |
+----------------+---------+

Mostre os funcionários com idade entre 25 e 35 anos.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE idade BETWEEN 25 AND 35;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 6500.00 |   São Paulo    |   29  |   2020-05-10  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |    Curitiba    |   26  |   2021-09-01  |
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Liste os funcionários que trabalham em “São Paulo” ou “Curitiba”.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE cidade IN ('São Paulo', 'Curitiba');

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |   cidade  | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 6500.00 | São Paulo |   29  |   2020-05-10  |
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |  Curitiba |   26  |   2021-09-01  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 | São Paulo |   41  |   2015-01-22  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 | São Paulo |   35  |   2016-02-27  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |  Curitiba |   27  |   2022-01-15  |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+

Exiba os funcionários cujo nome começa com “A”.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE nome LIKE 'A%';

Running query in 'duckdb://'

+----+-----------+-------------------+--------------+---------+-----------+-------+---------------+
| id |    nome   |       cargo       | departamento | salario |   cidade  | idade | data_admissao |
+----+-----------+-------------------+--------------+---------+-----------+-------+---------------+
| 1  | Ana Souza | Analista de Dados |      TI      | 6500.00 | São Paulo |   29  |   2020-05-10  |
+----+-----------+-------------------+--------------+---------+-----------+-------+---------------+

Liste os funcionários cujo cargo contém a palavra “Analista”.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE cargo LIKE '%Analista%';

Running query in 'duckdb://'

+----+---------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome     |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+---------------+---------------------+--------------+---------+----------------+-------+---------------+
| 1  |   Ana Souza   |  Analista de Dados  |      TI      | 6500.00 |   São Paulo    |   29  |   2020-05-10  |
| 5  | Júlia Martins | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 8  |  Rafael Gomes |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
+----+---------------+---------------------+--------------+---------+----------------+-------+---------------+









Mostre os funcionários admitidos depois de 2020.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE data_admissao > '2020-12-31';

Running query in 'duckdb://'

+----+----------------+-------------------+--------------+---------+----------+-------+---------------+
| id |      nome      |       cargo       | departamento | salario |  cidade  | idade | data_admissao |
+----+----------------+-------------------+--------------+---------+----------+-------+---------------+
| 3  |  Maria Santos  |      Designer     |  Marketing   | 4800.00 | Curitiba |   26  |   2021-09-01  |
| 8  |  Rafael Gomes  | Analista de Dados |      TI      | 6700.00 | Curitiba |   27  |   2022-01-15  |
| 9  | Fernanda Costa |     Estagiária    |  Financeiro  | 2200.00 |  Recife  |   22  |   2023-03-10  |
+----+----------------+-------------------+--------------+---------+----------+-------+---------------+

Atualizando o valor registrado

In [ ]:
%%sql

UPDATE funcionarios
SET departamento = 'TI',
    salario = 7000.00
WHERE salario = 6500.00;

SELECT *
FROM funcionarios;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 7000.00 |   São Paulo    |   29  |   2020-05-10  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |    Curitiba    |   26  |   2021-09-01  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |     Recife     |   22  |   2023-03-10  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
Truncated to displaylimit of 10.

Conte quantos funcionários existem na tabela.

In [ ]:
%%sql
SELECT COUNT(*) AS total_funcionarios
FROM funcionarios;

Running query in 'duckdb://'

+--------------------+
| total_funcionarios |
+--------------------+
|         10         |
+--------------------+

Calcule o salário médio de todos os funcionários.

In [ ]:
%%sql
SELECT AVG(salario) AS salario_medio
FROM funcionarios;

Running query in 'duckdb://'

+---------------+
| salario_medio |
+---------------+
|     6580.0    |
+---------------+

Mostre o maior e o menor salário registrados.

In [ ]:
%%sql
SELECT MIN(salario) AS salario_minimo, MAX(salario) AS salario_maximo
FROM funcionarios;

Running query in 'duckdb://'

+----------------+----------------+
| salario_minimo | salario_maximo |
+----------------+----------------+
|    2200.00     |    9500.00     |
+----------------+----------------+

Exiba a soma total dos salários do departamento de TI.

In [ ]:
%%sql
SELECT SUM(salario) AS soma_salarios_ti
FROM funcionarios
WHERE departamento = 'TI';

Running query in 'duckdb://'

+------------------+
| soma_salarios_ti |
+------------------+
|     44500.00     |
+------------------+

Mostre quantos funcionários há em cada departamento.

In [ ]:
%%sql
SELECT departamento, COUNT(*) AS total_funcionarios
FROM funcionarios
GROUP BY departamento;

Running query in 'duckdb://'

+--------------+--------------------+
| departamento | total_funcionarios |
+--------------+--------------------+
|      TI      |         6          |
|  Marketing   |         2          |
|  Financeiro  |         2          |
+--------------+--------------------+

Calcule a média salarial por cidade.

In [ ]:
%%sql
SELECT cidade, AVG(salario) AS media_salarial
FROM funcionarios
GROUP BY cidade;

SELECT cidade,
       ROUND(AVG(salario), 2) AS media_salarial
FROM funcionarios
GROUP BY cidade;

Running query in 'duckdb://'

+----------------+----------------+
|     cidade     | media_salarial |
+----------------+----------------+
|   São Paulo    |    8333.33     |
| Rio de Janeiro |     7350.0     |
|    Curitiba    |     5750.0     |
| Belo Horizonte |     5800.0     |
|     Recife     |     2200.0     |
|  Porto Alegre  |     7100.0     |
+----------------+----------------+

Exiba apenas os departamentos cuja média salarial é maior que 7000.

In [ ]:
%%sql
SELECT departamento, AVG(salario) AS media_salarial
FROM funcionarios
GROUP BY departamento
HAVING media_salarial > 7000;

SELECT departamento,
       ROUND(AVG(salario), 2) AS media_salarial
FROM funcionarios
GROUP BY departamento
HAVING AVG(salario) > 7000
ORDER BY media_salarial DESC;

Running query in 'duckdb://'

+--------------+----------------+
| departamento | media_salarial |
+--------------+----------------+
|      TI      |     7500.0     |
+--------------+----------------+

Mostre o número de funcionários por cargo, ordenando do maior para o menor.

In [ ]:
%%sql
SELECT cargo, COUNT(*) AS total_funcionarios
FROM funcionarios
GROUP BY cargo
ORDER BY total_funcionarios DESC;

Running query in 'duckdb://'

+---------------------+--------------------+
|        cargo        | total_funcionarios |
+---------------------+--------------------+
|    Desenvolvedor    |         3          |
|  Analista de Dados  |         2          |
|       Designer      |         1          |
|   Coordenadora MKT  |         1          |
| Gerente de Projetos |         1          |
| Analista Financeira |         1          |
|      Estagiária     |         1          |
+---------------------+--------------------+

Liste os 5 funcionários com os maiores salários.

In [ ]:
%%sql
SELECT *
FROM funcionarios
ORDER BY salario DESC
LIMIT 5;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Mostre os 3 funcionários mais antigos (menor data de admissão).

In [ ]:
%%sql
SELECT *
FROM funcionarios
ORDER BY data_admissao ASC
LIMIT 3;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Exiba os funcionários ordenados por cidade (ascendente) e salário (descendente).

In [ ]:
%%sql
SELECT *
FROM funcionarios
ORDER BY cidade ASC, salario DESC;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |    Curitiba    |   26  |   2021-09-01  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |     Recife     |   22  |   2023-03-10  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 6500.00 |   São Paulo    |   29  |   2020-05-10  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
Truncated to displaylimit of 10.

Mostre os funcionários do departamento de TI com salário acima da média do departamento.

In [ ]:
%%sql
SELECT f.*
FROM funcionarios f
JOIN (
  SELECT departamento, AVG(salario) AS media_salarial
  FROM funcionarios
  GROUP BY departamento
) AS d ON f.departamento = d.departamento
WHERE f.salario > d.media_salarial;

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Encontre os funcionários cujo nome termina com “a”.

In [ ]:
%%sql

SELECT *
FROM funcionarios
WHERE nome LIKE '%a';

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 1  |   Ana Souza    |  Analista de Dados  |      TI      | 6500.00 |   São Paulo    |   29  |   2020-05-10  |
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |     Recife     |   22  |   2023-03-10  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Liste os funcionários com cargo de “Desenvolvedor” e salário entre 7000 e 8000.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE cargo = 'Desenvolvedor' AND salario BETWEEN 7000 AND 8000;

Running query in 'duckdb://'

+----+----------------+---------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |     cargo     | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------+--------------+---------+----------------+-------+---------------+
| 2  |   João Lima    | Desenvolvedor |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 6  | Lucas Almeida  | Desenvolvedor |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 10 | Bruno Ferreira | Desenvolvedor |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------+--------------+---------+----------------+-------+---------------+

Mostre os funcionários que NÃO são do departamento de TI.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE departamento <> 'TI';

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 3  |  Maria Santos  |       Designer      |  Marketing   | 4800.00 |    Curitiba    |   26  |   2021-09-01  |
| 5  | Júlia Martins  | Analista Financeira |  Financeiro  | 5800.00 | Belo Horizonte |   30  |   2019-06-18  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |     Recife     |   22  |   2023-03-10  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Mostre o funcionário mais novo e o mais velho.

In [ ]:
%%sql

SELECT *
FROM funcionarios
WHERE idade = (SELECT MIN(idade) FROM funcionarios)
   OR idade = (SELECT MAX(idade) FROM funcionarios);

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |   cidade  | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 | São Paulo |   41  |   2015-01-22  |
| 9  | Fernanda Costa |      Estagiária     |  Financeiro  | 2200.00 |   Recife  |   22  |   2023-03-10  |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+

Liste o funcionário com maior tempo de empresa.

In [ ]:
%%sql
SELECT *
FROM funcionarios
WHERE data_admissao = (SELECT MIN(data_admissao) FROM funcionarios);

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |   cidade  | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 | São Paulo |   41  |   2015-01-22  |
+----+----------------+---------------------+--------------+---------+-----------+-------+---------------+

Exiba os nomes em maiúsculas e a idade em anos de todos os funcionários.

In [ ]:
%%sql
SELECT UPPER(nome) AS nome_maiusculo, idade
FROM funcionarios;

Running query in 'duckdb://'

+----------------+-------+
| nome_maiusculo | idade |
+----------------+-------+
|   ANA SOUZA    |   29  |
|   JOÃO LIMA    |   33  |
|  MARIA SANTOS  |   26  |
| PEDRO OLIVEIRA |   41  |
| JÚLIA MARTINS  |   30  |
| LUCAS ALMEIDA  |   28  |
|   CARLA DIAS   |   35  |
|  RAFAEL GOMES  |   27  |
| FERNANDA COSTA |   22  |
| BRUNO FERREIRA |   31  |
+----------------+-------+
Truncated to displaylimit of 10.

Calcule a diferença de salário entre o maior e o menor valor da tabela.

In [ ]:
%%sql
SELECT MAX(salario) - MIN(salario) AS diferenca_salarial
FROM funcionarios;

Running query in 'duckdb://'

+--------------------+
| diferenca_salarial |
+--------------------+
|      7300.00       |
+--------------------+

Mostre os funcionários que ganham acima da média geral.

In [ ]:
%%sql
SELECT funcionarios.*
FROM funcionarios
WHERE salario > (SELECT AVG(salario) FROM funcionarios);

Running query in 'duckdb://'

+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| id |      nome      |        cargo        | departamento | salario |     cidade     | idade | data_admissao |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+
| 2  |   João Lima    |    Desenvolvedor    |      TI      | 7200.00 | Rio de Janeiro |   33  |   2018-03-14  |
| 4  | Pedro Oliveira | Gerente de Projetos |      TI      | 9500.00 |   São Paulo    |   41  |   2015-01-22  |
| 6  | Lucas Almeida  |    Desenvolvedor    |      TI      | 7100.00 |  Porto Alegre  |   28  |   2020-11-05  |
| 7  |   Carla Dias   |   Coordenadora MKT  |  Marketing   | 8500.00 |   São Paulo    |   35  |   2016-02-27  |
| 8  |  Rafael Gomes  |  Analista de Dados  |      TI      | 6700.00 |    Curitiba    |   27  |   2022-01-15  |
| 10 | Bruno Ferreira |    Desenvolvedor    |      TI      | 7500.00 | Rio de Janeiro |   31  |   2017-04-30  |
+----+----------------+---------------------+--------------+---------+----------------+-------+---------------+

Exiba a quantidade de funcionários por cidade e departamento.

In [ ]:
%%sql
SELECT cidade, departamento, COUNT(*) AS total_funcionarios
FROM funcionarios
GROUP BY cidade, departamento;

Running query in 'duckdb://'

+----------------+--------------+--------------------+
|     cidade     | departamento | total_funcionarios |
+----------------+--------------+--------------------+
|   São Paulo    |      TI      |         2          |
| Rio de Janeiro |      TI      |         2          |
|    Curitiba    |  Marketing   |         1          |
|  Porto Alegre  |      TI      |         1          |
|   São Paulo    |  Marketing   |         1          |
|    Curitiba    |      TI      |         1          |
|     Recife     |  Financeiro  |         1          |
| Belo Horizonte |  Financeiro  |         1          |
+----------------+--------------+--------------------+

Liste os cargos que aparecem mais de uma vez.

In [ ]:
%%sql
SELECT cargo, COUNT(*) AS total_funcionarios
FROM funcionarios
GROUP BY cargo
HAVING COUNT(*) > 1;

Running query in 'duckdb://'

+-------------------+--------------------+
|       cargo       | total_funcionarios |
+-------------------+--------------------+
| Analista de Dados |         2          |
|   Desenvolvedor   |         3          |
+-------------------+--------------------+

Mostre os 2 funcionários com os menores salários do setor de Marketing.

In [ ]:
%%sql
SELECT funcionarios
FROM funcionarios
WHERE departamento = 'Marketing'
ORDER BY salario ASC
LIMIT 2;

Running query in 'duckdb://'

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                funcionarios                                                                                               |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|     {'id': 3, 'nome': 'Maria Santos', 'cargo': 'Designer', 'departamento': 'Marketing', 'salario': Decimal('4800.00'), 'cidade': 'Curitiba', 'idade': 26, 'data_admissao': datetime.date(2021, 9, 1)}     |
| {'id': 7, 'nome': 'Carla Dias', 'cargo': 'Coordenadora MKT', 'departamento': 'Marketing', 'salario': Decimal('8500.00'), 'cidade': 'São Paulo', 'idade': 35, 'data_admissao': datetime.date(2016, 2, 27)} |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

**Exporta tabela para CSV por exemplo**

In [ ]:
%%sql

SELECT nome, salario
FROM funcionarios
COPY (SELECT nome, salario FROM funcionarios) TO 'funcionarios.csv';

**Sub query**

Faça uma subconsulta que mostre os funcionários com salário acima da média geral:

In [ ]:
%%sql
SELECT funcionarios
FROM funcionarios
WHERE salario > (SELECT AVG(salario) FROM funcionarios);

Running query in 'duckdb://'

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                funcionarios                                                                                               |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|    {'id': 2, 'nome': 'João Lima', 'cargo': 'Desenvolvedor', 'departamento': 'TI', 'salario': Decimal('7200.00'), 'cidade': 'Rio de Janeiro', 'idade': 33, 'data_admissao': datetime.date(2018, 3, 14)}    |
| {'id': 4, 'nome': 'Pedro Oliveira', 'cargo': 'Gerente de Projetos', 'departamento': 'TI', 'salario': Decimal('9500.00'), 'cidade': 'São Paulo', 'idade': 41, 'data_admissao': datetime.date(2015, 1, 22)} |
|   {'id': 6, 'nome': 'Lucas Almeida', 'cargo': 'Desenvolvedor', 'departamento': 'TI', 'salario': Decimal('7100.00'), 'cidade': 'Porto Alegre', 'idade': 28, 'data_admissao': datetime.date(2020, 11, 5)}   |
| {'id': 7, 'nome': 'Carla Dias', 'cargo': 'Coordenadora MKT', 'departamento': 'Marketing', 'salario': Decimal('8500.00'), 'cidade': 'São Paulo', 'idade': 35, 'data_admissao': datetime.date(2016, 2, 27)} |
|    {'id': 8, 'nome': 'Rafael Gomes', 'cargo': 'Analista de Dados', 'departamento': 'TI', 'salario': Decimal('6700.00'), 'cidade': 'Curitiba', 'idade': 27, 'data_admissao': datetime.date(2022, 1, 15)}   |
| {'id': 10, 'nome': 'Bruno Ferreira', 'cargo': 'Desenvolvedor', 'departamento': 'TI', 'salario': Decimal('7500.00'), 'cidade': 'Rio de Janeiro', 'idade': 31, 'data_admissao': datetime.date(2017, 4, 30)} |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

**Tipos de JOIN**

In [ ]:
%%sql
DROP TABLE IF EXISTS funcionarios_join;
DROP TABLE IF EXISTS departamentos_join;

CREATE TABLE funcionarios_join (
    id INT,
    nome VARCHAR(50),
    cargo VARCHAR(50),
    departamento VARCHAR(50),
    salario DECIMAL(10,2),
    cidade VARCHAR(50),
    idade INT,
    data_admissao DATE
);

CREATE TABLE departamentos_join (
    departamento VARCHAR(50),
    gerente VARCHAR(50),
    localizacao VARCHAR(50)
);

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [ ]:
%%sql
INSERT INTO funcionarios_join VALUES
(1, 'Ana',   'Analista',      'Financeiro', 4500.00, 'São Paulo', 29, '2020-03-10'),
(2, 'Bruno', 'Desenvolvedor', 'TI',         6500.00, 'Rio de Janeiro', 32, '2019-07-21'),
(3, 'Carla', 'RH',            NULL,         4000.00, 'Curitiba', 28, '2021-02-15'),
(4, 'Diego', 'Designer',      'Marketing',  5000.00, 'Belo Horizonte', 30, '2022-05-09');

INSERT INTO departamentos_join VALUES
('Financeiro', 'Carlos',   'São Paulo'),
('TI',         'Fernanda', 'Rio de Janeiro'),
('Logística',  'Marcos',   'Salvador');

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

**Só mostra quem tem departamento igual nas duas tabelas**

In [ ]:
%%sql
SELECT
    f.nome,
    f.cargo,
    f.departamento,
    d.gerente,
    d.localizacao
FROM funcionarios_join f
INNER JOIN departamentos_join d
    ON f.departamento = d.departamento;

Running query in 'duckdb://'

+-------+---------------+--------------+----------+----------------+
|  nome |     cargo     | departamento | gerente  |  localizacao   |
+-------+---------------+--------------+----------+----------------+
|  Ana  |    Analista   |  Financeiro  |  Carlos  |   São Paulo    |
| Bruno | Desenvolvedor |      TI      | Fernanda | Rio de Janeiro |
+-------+---------------+--------------+----------+----------------+

**Mostra todos os funcionários, mesmo que o departamento não exista.**

In [ ]:
%%sql
SELECT
    f.nome,
    f.cargo,
    f.departamento,
    d.gerente,
    d.localizacao
FROM funcionarios_join f
LEFT JOIN departamentos_join d
    ON f.departamento = d.departamento;

Running query in 'duckdb://'

+-------+---------------+--------------+----------+----------------+
|  nome |     cargo     | departamento | gerente  |  localizacao   |
+-------+---------------+--------------+----------+----------------+
|  Ana  |    Analista   |  Financeiro  |  Carlos  |   São Paulo    |
| Bruno | Desenvolvedor |      TI      | Fernanda | Rio de Janeiro |
| Carla |       RH      |     None     |   None   |      None      |
| Diego |    Designer   |  Marketing   |   None   |      None      |
+-------+---------------+--------------+----------+----------------+

**Mostra todos os departamentos, mesmo que não tenham funcionários.**

In [ ]:
%%sql
SELECT
    f.nome,
    f.cargo,
    d.departamento,
    d.gerente,
    d.localizacao
FROM departamentos_join d
LEFT JOIN funcionarios_join f
    ON f.departamento = d.departamento;

Running query in 'duckdb://'

+-------+---------------+--------------+----------+----------------+
|  nome |     cargo     | departamento | gerente  |  localizacao   |
+-------+---------------+--------------+----------+----------------+
|  Ana  |    Analista   |  Financeiro  |  Carlos  |   São Paulo    |
| Bruno | Desenvolvedor |      TI      | Fernanda | Rio de Janeiro |
|  None |      None     |  Logística   |  Marcos  |    Salvador    |
+-------+---------------+--------------+----------+----------------+

**Mostra tudo de ambos os lados, mesmo sem correspondência.**

In [ ]:
%%sql
SELECT
    f.nome,
    f.cargo,
    f.departamento,
    d.gerente,
    d.localizacao
FROM funcionarios_join f
LEFT JOIN departamentos_join d
    ON f.departamento = d.departamento

UNION

SELECT
    f.nome,
    f.cargo,
    f.departamento,
    d.gerente,
    d.localizacao
FROM departamentos_join d
LEFT JOIN funcionarios_join f
    ON f.departamento = d.departamento;

Running query in 'duckdb://'

+-------+---------------+--------------+----------+----------------+
|  nome |     cargo     | departamento | gerente  |  localizacao   |
+-------+---------------+--------------+----------+----------------+
|  Ana  |    Analista   |  Financeiro  |  Carlos  |   São Paulo    |
| Bruno | Desenvolvedor |      TI      | Fernanda | Rio de Janeiro |
| Carla |       RH      |     None     |   None   |      None      |
| Diego |    Designer   |  Marketing   |   None   |      None      |
|  None |      None     |     None     |  Marcos  |    Salvador    |
+-------+---------------+--------------+----------+----------------+

**Funções de janela**

In [ ]:
%%sql
SELECT
    nome,
    departamento,
    salario,
    RANK() OVER (PARTITION BY departamento ORDER BY salario DESC) AS posicao_salario
FROM funcionarios_join;

Running query in 'duckdb://'

+-------+--------------+---------+-----------------+
|  nome | departamento | salario | posicao_salario |
+-------+--------------+---------+-----------------+
| Bruno |      TI      | 6500.00 |        1        |
| Carla |     None     | 4000.00 |        1        |
| Diego |  Marketing   | 5000.00 |        1        |
|  Ana  |  Financeiro  | 4500.00 |        1        |
+-------+--------------+---------+-----------------+