In [1]:
!pip install jupysql duckdb-engine
%load_ext sql

%sql duckdb://

Defaulting to user installation because normal site-packages is not writeable
Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 KB 4.6 MB/s eta 0:00:00
Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 KB 13.8 MB/s eta 0:00:00
Collecting sqlglot>=11.3.7
  Downloading sqlglot-27.27.0-py3-none-any.whl (523 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 523.4/523.4 KB 9.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/lib/python3/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /home/wallingson12/.local/lib/python3.10/site-packages (from jupysql) (3.1.6)
Collecting prettytable>=3.12.0
  Using cached prettytable-3.16.0-py3-none-any.whl (33 kB)
Requirement already satisfied: sqlparse in /home/wallingson12/.local/lib/python3.10/site-packages (from jupysql) (0.5.3)
Collecting ploomber-core>=0.2.7
  Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Collecting jupysql-plugin>=0.4.2
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 KB 21.4 MB/s eta 0:00:00
Requirement already satisfied: sqlalchemy in /home/wallingson12/.local/lib/python3.10/site-packages (from jupysql) (2.0.44)
Requirement already satisfied: packaging>=21 in /home/wallingson12/.local/lib/python3.10/site-packages (from duckdb-engine) (25.0)
Collecting duckdb>=0.5.0
  Downloading duckdb-1.4.1-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (20.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.5/20.5 MB 15.9 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: pyyaml in /usr/lib/python3/dist-packages (from ploomber-core>=0.2.7->jupysql) (5.4.1)
Collecting posthog>=3.0
  Downloading posthog-6.7.6-py3-none-any.whl (137 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.3/137.3 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: wcwidth in /home/wallingson12/.local/lib/python3.10/site-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/wallingson12/.local/lib/python3.10/site-packages (from sqlalchemy->jupysql) (4.15.0)
Requirement already satisfied: greenlet>=1 in /home/wallingson12/.local/lib/python3.10/site-packages (from sqlalchemy->jupysql) (3.2.4)
Requirement already satisfied: MarkupSafe>=2.0 in /home/wallingson12/.local/lib/python3.10/site-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: python-dateutil>=2.2 in /home/wallingson12/.local/lib/python3.10/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: requests<3.0,>=2.7 in /home/wallingson12/.local/lib/python3.10/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.5)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: distro>=1.5.0 in /usr/lib/python3/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.7.0)
Collecting backoff>=1.10.0
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.26.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2020.6.20)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/wallingson12/.local/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.3)
Installing collected packages: sqlglot, prettytable, duckdb, backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 2.2.1
    Uninstalling prettytable-2.2.1:
      Successfully uninstalled prettytable-2.2.1
Successfully installed backoff-2.2.1 duckdb-1.4.1 duckdb-engine-0.17.0 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-6.7.6 prettytable-3.16.0 sqlglot-27.27.0

/home/wallingson12/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

Connecting to 'duckdb://'

In [2]:
%%sql
CREATE TABLE exemplo (
    id INTEGER PRIMARY KEY,
    nome VARCHAR,
    idade INTEGER
);

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [3]:
%%sql
INSERT INTO exemplo (id, nome, idade)
VALUES
(1, 'Ana', 25),
(2, 'Carlos', 30),
(3, 'Maria', 22),
(4, 'João', 28);

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [4]:
%%sql
SELECT * FROM exemplo;

Running query in 'duckdb://'

+----+--------+-------+
| id |  nome  | idade |
+----+--------+-------+
| 1  |  Ana   |   25  |
| 2  | Carlos |   30  |
| 3  | Maria  |   22  |
| 4  |  João  |   28  |
+----+--------+-------+