# Projeto SQL Corporativo
Este notebook demonstra o uso de SQL puro em um ambiente Python (DuckDB), com consultas analíticas e relacionamentos entre tabelas de uma empresa fictícia.

**Configuração**

In [1]:
!pip install jupysql duckdb-engine
%load_ext sql

%sql duckdb://

Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (from jupysql) (2.0.44)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Requirement already satisfied: duckdb>=0.5.0 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (1.3.2)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-6.7.8-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy->jupysql) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2025.10.5)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 2.9 MB/s eta 0:00:00
Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 4.9 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 7.8 MB/s eta 0:00:00
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-6.7.8-py3-none-any.whl (137 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.3/137.3 kB 12.9 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: backoff, posthog, duckdb-engine, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 duckdb-engine-0.17.0 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-6.7.8

Connecting to 'duckdb://'

**CRIAR TABELA**

Cria uma tabela chamada funcionarios para armazenar informações sobre os colaboradores de uma empresa.
Antes de criá-la, o comando DROP TABLE IF EXISTS remove a tabela caso ela já exista, evitando erros de duplicação.

A estrutura da tabela define os seguintes campos:

| Coluna          | Tipo de dado           | Descrição                                             |
| --------------- | ---------------------- | ----------------------------------------------------- |
| `id`            | `INT` (chave primária) | Identificador único de cada funcionário.              |
| `nome`          | `VARCHAR(100)`         | Nome completo do funcionário.                         |
| `cargo`         | `VARCHAR(50)`          | Função ou cargo ocupado na empresa.                   |
| `departamento`  | `VARCHAR(50)`          | Setor ou departamento ao qual o funcionário pertence. |
| `salario`       | `DECIMAL(10,2)`        | Salário do funcionário, com duas casas decimais.      |
| `cidade`        | `VARCHAR(50)`          | Cidade onde o funcionário trabalha.                   |
| `idade`         | `INT`                  | Idade atual do funcionário.                           |
| `data_admissao` | `DATE`                 | Data em que o funcionário foi contratado.             |

In [2]:
%%sql

CREATE TABLE departamentos (
    id INT PRIMARY KEY,
    nome VARCHAR(50)
);

CREATE TABLE cidades (
    id INT PRIMARY KEY,
    nome VARCHAR(50)
);

CREATE TABLE cargos (
    id INT PRIMARY KEY,
    nome VARCHAR(50),
    departamento_id INT,
    FOREIGN KEY (departamento_id) REFERENCES departamentos(id)
);

-- Tabela principal
CREATE TABLE funcionarios (
    id INT PRIMARY KEY,
    nome VARCHAR(100),
    cargo_id INT,
    cidade_id INT,
    salario DECIMAL(10,2),
    idade INT,
    data_admissao DATE,
    FOREIGN KEY (cargo_id) REFERENCES cargos(id),
    FOREIGN KEY (cidade_id) REFERENCES cidades(id)
);

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

**INSERIR DADOS**

In [3]:
%%sql

-- Departamentos
INSERT INTO departamentos (id, nome) VALUES (1, 'TI');
INSERT INTO departamentos (id, nome) VALUES (2, 'Marketing');
INSERT INTO departamentos (id, nome) VALUES (3, 'Financeiro');

-- Cidades
INSERT INTO cidades (id, nome) VALUES (1, 'São Paulo');
INSERT INTO cidades (id, nome) VALUES (2, 'Rio de Janeiro');
INSERT INTO cidades (id, nome) VALUES (3, 'Curitiba');
INSERT INTO cidades (id, nome) VALUES (4, 'Belo Horizonte');
INSERT INTO cidades (id, nome) VALUES (5, 'Porto Alegre');
INSERT INTO cidades (id, nome) VALUES (6, 'Recife');

-- Cargos
INSERT INTO cargos (id, nome, departamento_id) VALUES (1, 'Analista de Dados', 1);
INSERT INTO cargos (id, nome, departamento_id) VALUES (2, 'Desenvolvedor', 1);
INSERT INTO cargos (id, nome, departamento_id) VALUES (3, 'Gerente de Projetos', 1);
INSERT INTO cargos (id, nome, departamento_id) VALUES (4, 'Designer', 2);
INSERT INTO cargos (id, nome, departamento_id) VALUES (5, 'Coordenadora MKT', 2);
INSERT INTO cargos (id, nome, departamento_id) VALUES (6, 'Analista Financeira', 3);
INSERT INTO cargos (id, nome, departamento_id) VALUES (7, 'Estagiária', 3);

-- Funcionários
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (1, 'Ana Souza', 1, 1, 6500, 29, '2020-05-10');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (2, 'João Lima', 2, 2, 7200, 33, '2018-03-14');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (3, 'Maria Santos', 4, 3, 4800, 26, '2021-09-01');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (4, 'Pedro Oliveira', 3, 1, 9500, 41, '2015-01-22');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (5, 'Júlia Martins', 6, 4, 5800, 30, '2019-06-18');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (6, 'Lucas Almeida', 2, 5, 7100, 28, '2020-11-05');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (7, 'Carla Dias', 5, 1, 8500, 35, '2016-02-27');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (8, 'Rafael Gomes', 1, 3, 6700, 27, '2022-01-15');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (9, 'Fernanda Costa', 7, 6, 2200, 22, '2023-03-10');
INSERT INTO funcionarios (id, nome, cargo_id, cidade_id, salario, idade, data_admissao) VALUES (10, 'Bruno Ferreira', 2, 2, 7500, 31, '2017-04-30');

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

# Consultas sobre funcionários

**Listar todos os funcionários**

In [ ]:
%%sql
SELECT * FROM funcionarios;

**uncionários com idade entre 25 e 35**

In [ ]:
%%sql
SELECT * FROM funcionarios WHERE idade BETWEEN 25 AND 35;

**Funcionários admitidos após 2020**

In [ ]:
%%sql
SELECT * FROM funcionarios WHERE data_admissao > '2020-12-31';

**Top 3 maiores salários**

In [ ]:
%%sql
SELECT * FROM funcionarios ORDER BY salario DESC LIMIT 3;

# Consultas sobre Departamentos

**Listar todos os departamentos**

In [ ]:
%%sql
SELECT * FROM departamentos;

**Média salarial por departamento**

In [ ]:
%%sql
SELECT d.nome AS departamento, AVG(f.salario) AS media_salarial
FROM funcionarios f
JOIN cargos c ON f.id_cargo = c.id_cargo
JOIN departamentos d ON c.id_departamento = d.id_departamento
GROUP BY d.nome;

**Funcionários do departamento de TI**

In [ ]:
%%sql
SELECT f.nome, c.nome AS cargo
FROM funcionarios f
JOIN cargos c ON f.id_cargo = c.id_cargo
JOIN departamentos d ON c.id_departamento = d.id_departamento
WHERE d.nome = 'TI';

**Funcionários cujo cargo contém "Analista"**

In [ ]:
%%sql
SELECT f.*
FROM funcionarios f
JOIN cargos c ON f.id_cargo = c.id_cargo
WHERE c.nome LIKE '%Analista%';

**Atualizar salários do departamento de TI para 7000**

In [ ]:
%%sql
UPDATE funcionarios f
SET salario = 7000
FROM cargos c
WHERE f.id_cargo = c.id_cargo
  AND c.id_departamento = 1;

# Consulta sobre localidades

**Listar todas as cidades**

In [ ]:
%%sql
SELECT * FROM cidades;

**Nomes distintos das cidades**

In [ ]:
%%sql
SELECT DISTINCT nome FROM cidades;

**Funcionários que trabalham em São Paulo ou Curitiba**

In [ ]:
%%sql
SELECT f.nome, ci.nome AS cidade
FROM funcionarios f
JOIN cidades ci ON f.id_cidade = ci.id_cidade
WHERE ci.nome IN ('São Paulo', 'Curitiba');

**Média salarial por cidade**

In [ ]:
%%sql
SELECT ci.nome AS cidade, AVG(f.salario) AS media_salarial
FROM funcionarios f
JOIN cidades ci ON f.id_cidade = ci.id_cidade
GROUP BY ci.nome;

**Contagem de funcionários por cidade**

In [ ]:
%%sql
SELECT ci.nome AS cidade, COUNT(*) AS total_funcionarios
FROM funcionarios f
JOIN cidades ci ON f.id_cidade = ci.id_cidade
GROUP BY ci.nome;